.editor-styles-wrapper h1:not(.wp-block-post-title) {
  color: rgba(var(--kubio-color-6),1);
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  font-size: 4em;
  font-weight: 700;
  line-height: 1.26;
  text-transform: none;
}

.editor-styles-wrapper h2 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.143;
  text-transform: none;
}

.editor-styles-wrapper h3 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.25;
  text-transform: none;
}

.editor-styles-wrapper h4 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.6;
  text-transform: none;
}

.editor-styles-wrapper h5 {
  color: #000;
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
}

.editor-styles-wrapper h6 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.6;
  text-transform: uppercase;
}

.editor-styles-wrapper  {
  color: rgba(var(--kubio-color-6-variant-4),1);
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  text-transform: none;
}

@media (max-width:767px) {
  .editor-styles-wrapper h1:not(.wp-block-post-title) {
    font-size: 3em;
  }
}
